*{
    font-family: 'Times New Roman', Times, serif;
}

.hero-image{
    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("./WebImg/frontpage.jpeg") ;
    height: 450px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    color:rgb(241, 237, 232);
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    font-size: 6rem;
}

.herosubtitle{
    color:rgb(241, 237, 232);
    position: absolute;
    text-align: center;
    top: 30%;
    width: 100%;
    font-size: 2rem;
}

.intro{
    font-size: 3rem;
    text-align: center;
    color: antiquewhite;
    background-color: black;
    padding: 30px 20px;
}

.family-img{
    width: 300px;
    height: 300px;
}

.Families{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    margin:auto;
    color:aliceblue;
    background-color: rgb(61, 61, 61);
    padding-top: 40px;
}

.info{
    background-color: rgb(7, 7, 7);
    padding-top: 30px;
    color: aliceblue;
}

.comparison{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 20px 20px;
}

.comparison h3{
    font-size: 3rem;
}
.comparison p{
    font-size: 2rem;
}

.end{
    color:rgb(241, 237, 232);
    text-align: center;
    font-size: 3rem;
    background-color: rgb(39, 39, 39);
    padding: 20px 20px;
}

.familylink{
    color: aliceblue;
    margin-top: 22%;
    font-size: 1.5rem;
}

.familylinks{
    display: flex;
    gap: 60px;
    justify-content: center;

}
