*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero-image{
    background-image: 
        linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
        url("./WebImg/frontpage.jpeg") ;
    height: 450px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text{
    color:rgb(241, 237, 232);
    position: absolute;
    text-align: center;
    top: 10%;
    width: 100%;
    font-size: 6rem;
}

.discover{
    color:rgb(241, 237, 232);
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
    font-size: 2rem;
}